{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}

{% block title %}
    Tutores | Detalle
{% endblock %}

{% block content %}
    <div class="elemento">
    {% if request.user|has_group:"tutores" %}
        <a class="btn btn-default" href="{% url 'tutorDocente_edit' pk=tutorDocente.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'tutorDocente_delete' pk=tutorDocente.pk %}"><span class="glyphicon glyphicon-minus"></span></a>
    {% endif %}
        <h2>Tutor : {{ tutorDocente.nombreApellido }}</h2>
        <ul>
            <li> <label class="nombreCampo"> Nombre y apellidos </label> {{ tutorDocente.nombreApellido }} </li>
            <li> <label class="nombreCampo"> Email </label> {{ tutorDocente.email }} </li>
            <li> <label class="nombreCampo"> Teléfono </label> {{ tutorDocente.telefono }} </li>
        </ul>
    </div>
    <h4><a href="{% url 'tutoresDocentes_list' %}">Volver atrás</a></h4>
{% endblock %}

{% block pie %}
    Autores: Guillermo Morata Romero y Pedro Jose Rodriguez Gallego
{% endblock %}

{% block imagenInicio %}
    <span class="helper"></span> <img src="{% static "images/safa_small.png" %}" alt="My image"/>
{% endblock %}