.root
{
    -fx-background-color: #1D1D1D;
}


.button
{
    -fx-background-color: #1BB3FF;
    -fx-text-base-color: white;
    -fx-border-radius: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);;
}


.button:hover
{
    -fx-background: #1BB3FF;
    -fx-text-base-color: white;
    -fx-font-weight: bold;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.button:selected
{
    -fx-background: #8DBBCD;
    -fx-text-base-color: #262626;
}


.text-field
{
    -fx-background-color: #767676;
    -fx-text-inner-color: white;
}


.label
{
    -fx-text-fill: white;
}


.text-area
{
    -fx-text-fill: white;
}


.content
{
    -fx-background-color: #667F89;
}