{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}


{% block title %}
    Empresas
{% endblock %}


{% block content %}

    {% if empresas %}
        {% for empresa in empresas %}
            <div class="elemento">
                <h2><a href="{% url 'empresa_detail' pk=empresa.pk %}">{{ empresa.nombre }}</a></h2>
                <p>
                    {{ empresa.localidad }} - {{ empresa.direccion }}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="noElement">No hay ninguna empresa registrada</h2>
    {% endif %}

    {% if request.user|has_group:"tutores" or request.user|has_group:"empresas" %}
        <a href="{% url 'empresa_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <h4><a href="{% url 'index' %}">Volver al inicio</a></h4>
{% endblock %}

{% block pie %}
    Autores: Guillermo Morata Romero y Pedro Jose Rodriguez Gallego
{% endblock %}

{% block imagenInicio %}
    <span class="helper"></span> <img src="{% static "images/safa_small.png" %}" alt="My image"/>
{% endblock %}